.img {
    /* background-image: url("/assets/temp/5.jpg"); */
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    transition: 0.3s ease;
  }
  