<div id="contacts" class="contacts-container">
  <h1 class="contacts-title">
    <label (click)="validatePassword()" class="title">Моя мастерская</label> Контакты 
  </h1>
  <div class="bottom-panel">
    <a class="item" target="_blank" href="https://vk.com/fl6k56rrtg"
      ><img class="link" src="/assets/img/vk.svg" alt="" />vk</a
    >
    <a class="item" target="_blank" href="https://t.me/Animus93"
      ><img class="link" src="/assets/img/telegram.svg" alt="" />telegram</a
    >
    <label (click)="temp()" class="item" target="_blank" href="#"
      ><img
        class="link"
        src="/assets/img/instagram.svg"
        alt=""
      />instagram</label
    >
    <label (click)="temp()" class="item" target="_blank" href="#"
      ><img class="link" src="/assets/img/whatsapp.svg" alt="" />whatsapp</label
    >
    <a class="item" target="_blank" href="tel:+79592554297">
      +7 959 255 42 97
    </a>
  </div>
  <app-reviews-blok [user]="true"></app-reviews-blok>
</div>
<!-- <a class="item" target="_blank" href="#"
><img class="link" src="/assets/img/instagram.svg" alt="" />instagram</a
>
<a class="item" target="_blank" href="#"
><img class="link" src="/assets/img/whatsapp.svg" alt="" />whatsapp</a
> -->
