<div class="bottom-panel">
  <a target="_blank" href="https://vk.com/fl6k56rrtg"
    ><img class="link" src="/assets/img/vk.svg" alt=""
  /></a>
  <a target="_blank" href="https://t.me/Animus93"
    ><img class="link" src="/assets/img/telegram.svg" alt=""
  /></a>
  <a href="#" ><img class="link" src="/assets/img/instagram.svg" alt="" /></a>
  <a href="#"><img class="link" src="/assets/img/whatsapp.svg" alt="" /></a>
  <a class="phone" target="_blank" href="tel:+79592554297">
    +7 959 255 42 97
  </a>
</div>
